/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  /* background-color: #f4f6f9; */
    background-color: #f0fffe;

  color: #222;
  line-height: 1.6;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

/* Navbar */
.navbar {
  background: white;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar h1 {
  font-size: 22px;
  color: #2563eb;
}

.navbar a {
  text-decoration: none;
  margin-left: 18px;
  color: #333;
  font-weight: 500;
}

/* Responsive Cards Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

/* .card:hover {
  transform: translateY(-4px);
} */


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  transition: 0.3s ease-in-out;
}


.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 14px;
}

/* Buttons */
.btn {
  background:#87CEFA;
  color: white;
  
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #1d4ed8;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}

html, body, #root {
  height: 100%;
}

#root {
  background: transparent;
}


.map-button {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #bdd4e7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.map-section:hover {
    background-color: "#bdd4e7";
}